html {
  background-color: ghostwhite;
}

.sidenav {
  height: 100%;
  width: 15%;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: ghostwhite;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav button {
  width: 80%;
  margin: 1rem;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav button:hover {
  color: black;
}

.sidenav-header header {
  margin: 1rem;
  font-size: x-large;
  display: inline-block;
}

.sidenav-header img {
  display: inline-block;
  width: 30px;
  height: 30px;
}

/* Style page content */
.main {
  margin-left: 15%; /* Same as the width of the sidebar */
  padding: 0px 10px;
  background-color: ghostwhite;
}

#map {
  margin-top: 1rem;
  height: 650px;
  width: 100%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav button {
    font-size: 18px;
  }
}

.hidden {
  display: none;
}

.form-block {
  margin-top: 1rem;
}
